@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
body {
	background: #ededeb;
}
.body-cont {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.body-cont h2{
	margin-bottom: 5vh;
}
form {
	width: 80%;
	background: #ededeb;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border: 2px solid black;
}
input {
	background: #ededeb;
}
.uno {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.uno > div {
	border: 1px solid black;
}
.tres {
	display: flex;
}
#dimension {
	width: 70%;
	text-align: center;
}
.uno a{
	padding: 2vh 0;
	display: inline-block;
	width: 30%;
	text-align: center;
	border-left: 2px solid black;
	transition: 0.5s;
}
.uno a:hover {
	background: black;
	color: #ededeb;
}
.dos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 100%;
	border: 1px solid black;
}
.dos h3 {
	margin-bottom: 3vh;
}
.tres {
	height: 8vh;
}
.cuatro {
	display: flex;
	width: 100%;
	height: 40vh;
}
.cuatro > div {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cinco {
	border-right: 2px solid black;
}
.siete {
	display: flex;
	width: 100%;
}
.siete > div {
	width: 50%;
}
.siete input {
	width: 100%;
	height: 7vh;
}
.siete input:hover {
	background: black;
	color: #ededeb;
}
.ocho {
	border-right: 2px solid black;
}
table input {
	width: 100%;
	height: 100%;
	text-align: center;
}
input {
	border: none;
	outline: none;
	transition: 0.5s;
}
table {
	width: 80%;
	height: 80%;
}
table {
	border-collapse: collapse;
}